
.cms-field-html {
    position: relative;
    .toolbar {
        position: absolute;
        top:-23px;
        right: 13px;
    }

    .quill-editor {
        .ql-toolbar {
            .ql-header2 {
                .ql-picker-label{
                    &:before {
                        content: 'Normal';
                    }
                }

                .ql-picker-item:before{
                    content: 'a';
                }
            }
        }
        .ql-container {
            link-arrow {
                color: #e72b21;
                text-decoration: underline;
                &:before {
                    content: '> ';
                }
            }
        }
    }
}

.cms-field-html-editor {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: .8em;
    padding: 10px;

    border: 1px solid #ccc;

}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
    margin: 0 0 1.2rem 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
